<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EstructuraNegocio.PROJECT_STAGE" value="DESARROLLO" />
    <add key="EstructuraNegocio.ConnectionString.Desarrollo" value="Server=172.20.10.162,1430\sqlserverpruebas;Database=Desarrollo_IController;User Id=usrDesarrollo;Password=usrDesarrollo2016;" />
    <!--<add key="EstructuraNegocio.ConnectionString.Desarrollo" value="Server=192.168.0.40,1433;Database=Mapper;User Id=sa;Password=Wana1200;" />-->
  </appSettings>
</configuration>